version: '3.8'
services:
  app:
    build: .
    ports:
      - "10000:10000"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: db_sipanda
      DB_USERNAME: root
      DB_PASSWORD: root

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_sipanda
    ports:
      - "3307:3306"
